.dropdown {
  &__item {
    margin: 0 0.25rem;
    min-height: 2.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 5px;
    & a {
      display: block;
      width: 100%;
      min-height: inherit;
      line-height: 2.5rem;
    }
    &:hover {
      background-color: #919eab14;
    }
  }
  &__link {
    padding: 0 1rem;
    display: flex !important;
    & img {
      width: 16px;
      margin-right: 0.5rem;
    }
  }
  &__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    & img {
      height: 2.5rem;
    }
  }
  &__menu {
    position: absolute;
    right: 0;
    top: 147%;
    z-index: 40;
    display: block;
    background: var(--secondary);
    color: var(--text);
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 14rem;
    border: 1px solid #dddddd;
  }
  &__user {
    margin: 0.5rem 0;
    padding-left: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    & img {
      margin-right: 0.5rem;
    }
  }
  &__divider {
    margin: 3px 0.5rem;
    border-top: 1px solid var(--text15);
  }
  &__button {
    width: 100%;
  }
  &__logout {
    background-color: #ff4c51;
    border-color: #ff4c51;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease-in-out;
    display: flex !important;
    justify-content: center;
    & small {
      line-height: 2.5rem;
    }
    & img {
      margin-left: 0.5rem;
      width: 16px;
    }
    &:hover {
      background-color: rgb(205, 41, 46);
    }
  }
}
