@use "@scss/mixin.scss" as m;
.exam {
  &__container {
    flex-grow: 1;
  }
  &__title {
    h1 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color:var(--text);
    }
  }
  &__detail {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap:2rem;
    position: relative;
    &-left {
      width: 75%;
    }
    &-right {
      margin-top: 2rem;
      width: 25%;
      position: sticky;
      top: 1rem;
      max-height:100vh;
      overflow-y: auto;
      align-items: center;
    }
  }
  &__handin {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include m.responsive-to(xl){
   .exam{
    &__detail {
      display: block;
      &-left{
        width: 100%;
      }
      &-right {
        position: sticky;
        bottom: 1rem;
        width: 100%;
        margin-top: 0;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        background-color: rgba($color: var(--text10), $alpha: 0.1);
        backdrop-filter: blur(10px) opacity(0.7);
      }
    }
    &__handin {
      margin-top: 0;
    }
   }
}

@include m.responsive-to(lg){
  .exam{
    &__detail {
      display: block;
      &-left{
        width: 100%;
      }
      &-right {
        position: sticky;
        bottom: 1rem;
        width: 100%;
        margin-top: 0;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        background-color: rgba($color: var(--text10), $alpha: 0.1);
        backdrop-filter: blur(10px) opacity(0.7);
      }
    }
    &__handin {
      margin-top: 0;
    }
   }
}

@include m.responsive-to(md){
  .exam{
    &__detail {
      &-right {
        flex-direction: column;
        position: static;
      }
    }
   }
}