@use "@scss/mixin.scss" as m;
.examRooms {
    &__container{
        flex-grow: 1;
    }
    &__container-child{
        margin: 1rem 0;
        height: auto;
        border-radius: 10px;
        padding: 1rem;
        background-color: white;
        box-shadow: 0px 0.125rem 0.3125rem 0px black;
    }
    &__container-title{
        font-weight: bold;
        font-size: 1.5rem;
    }
    &__filter-form{
        display: flex;
        gap: 1rem;
        & .examRooms__container-child{
            flex:1;
        }
    }
}
@include m.responsive-to(lg) {
    .examRooms {
        &__filter-form {
            display: block;
        }
    }
    
    
}