.room{
    &__container{
        flex-grow: 1
      }
      &__title {
        border-bottom: 0.0625rem solid black;
        h1 {
          font-size: 2rem;
          font-weight: bold;
        }
      }
}