.Home__Client {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  &-activate{
    opacity: 0;
  }
}
.Home__group {
  h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 10px 0;
  }
}
.group__contentt {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 1.1%;
  row-gap: 3%;
  justify-content: center;
  align-items: stretch;
}
.group__itemm {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: 0 4px 4px 2px #c2d8c2;
  p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    & span {
      font-weight: 500;
      font-size: 1rem;
    }
  }
  &:hover{
    border: 2px solid #1EBA1E;
  }
}
.group__buttonn {
  border-radius: 10px;
  padding: 0.25rem 2rem;
  margin-top: 1rem;
  width: auto;
  height: auto;
  font-weight: normal;
  color: #f9f9f9;
  border:none;
  border-radius: 100px;
  background-color: #1EBA1E;
  transition: background-color 0.1s linear;
  &:hover{
    background-color: #16a516;
  }
}