@use "@scss/mixin.scss" as m;
.question {
    &__board {
      margin-top: 1.5rem;
      border-radius: 0.5rem;
      background-color: var(--secondary);
      &-heading {
        border-bottom: 1px solid var(--text50);
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-weight: bold;
          font-size: 1rem;
          color: var(--text);
        }
      }
      &-buttons {
        width: inherit;
        display: flex;
        gap:0.5rem;
        justify-content: space-between;
        button {
          font-size: 12px;
          flex: 1;
        }
      }
  
      &-selection {
        padding: 1rem;
  
        .question__row {
          display: flex;
          justify-content: center;
          margin-bottom: 0.5rem; 
        }
      }
    }
  
    &__select {
      width: 2.5rem;
      height: 3rem;
      margin: 0.5rem;
      border: 1px solid var(--text);
      border-radius: 0.5rem;
      cursor: pointer;
      background-color: var(--bg);
      &-number {
        border-bottom: 1px solid var(--text);
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;
        color: var(--text);
      }
  
      &-color {
        height: 40%;
        border-radius: 0rem 0rem 0.5rem 0.5rem ;
        &.selected {
          background-color:var(--primary); 
      }
      }
    }
  }
  
  .off-color.off-color.off-color{
    background-color: var(--primary60);
  }
  @include m.responsive-to(xl){
    .question{
      &__board{
        margin-top: 0;
        &-heading{
          padding:0.25rem;
        }
        &-selection{
          height: 70px;
          padding: 0.25rem;
          overflow-y: scroll;
        }
      }
    }
  }

  @include m.responsive-to(2xl){
    .question{
      &__board{
        margin-top: 0.5rem;
      }
    }
  }
  
  @include m.responsive-to(2xl){
    .question{
      &__board{
        &-selection {
          padding: 0;
        }
      }
    }
  }

  @include m.responsive-to(lg){
    .question{
      &__board{
        width: 300px;
      }
    }
  }
 
  @include m.responsive-to(sm){
  
  }