.menu {
    &__item {
      position: relative;
      margin: 0.375rem 0;
      height: 2.5rem;
      border-radius: 5px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: rgba(47, 43, 61, 0.06);
      }
      &.open {
        height: auto;
      }
      &.open .submenu__list {
        max-height: 500px;
        opacity: 1;
        transition: opacity 0s ease-in-out, max-height 0.3s ease-in-out;
      }
      &.open .submenu__btn{
        height: 2.5rem;
      }
      &.open .submenu__btn::after {
        transform: rotate(0deg);
      }
    }
    &__item img {
      display: block;
      width: 20px;
      margin: 0 0.75rem;
      filter: brightness(0) saturate(100%) invert(92%) sepia(56%) saturate(1750%) hue-rotate(226deg) brightness(87%) contrast(97%);
    }
    &__link {
      height: inherit;
      display: flex;
      align-items: center;
      border-radius: 10px;
      &.active {
        background-color: var(--secondary20);
        filter: brightness(0) saturate(100%) invert(34%) sepia(59%) saturate(1497%) hue-rotate(244deg) brightness(85%) contrast(88%);
      }
    }
  }