.Structure {
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;

  &__title {
    // border-bottom: 0.0625rem solid black;
    h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
    }
  }

  &__content {
    border: 1px solid #fffefe;
    // background-color: #d9d9d9;
    margin-top: 40px;
    border-radius: 10px;
    height: auto;
    box-shadow: 0px 0.125rem 0.3125rem 0px black;
  }

  .form-group,
  .form-row {
    margin-bottom: 15px;
    padding: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    label {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.275rem;
    }

    input,
    select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    // span {
    //   margin-top: 5px;
    //   font-size: 12px;
    //   color: #666;
    // }
  }
  .form-group1 {
    label {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.275rem;
    }

    input,
    select {
      padding: 8px;
      border: 1px solid #000000;
      border-radius: 4px;
      margin-left: 10px;
    }

    // span {
    //   margin-top: 5px;
    //   font-size: 1.275rem;
    //   color: #fff6f6;
    // }
  }
  //dsmodule
  .form-row {
    display: flex;
    justify-content: space-between;

    .form-group {
      flex: 1;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  hr {
    margin: 20px 0;
  }
  &__item {
    border: 1px solid #ccc;
    // background-color: #d9d9d9;
    margin-top: 40px;
    border-radius: 10px;
    height: auto;
  }
  h3 {
    font-weight: bold;
    font-size: 1.275rem;
    color: #000;
    margin-bottom: 0.625rem;
    margin-left: 10px;
    margin-top: 20px;
  }

  .module {
    padding: 0px;
    // border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 98%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__item {
      width: 99%;
      border: 1px solid #000;
      border-radius: 10px;
      box-shadow: 0px 0.125rem 0.3125rem 0px black;
      margin-bottom: 20px;
      min-height: 370px;
      max-height: 370px;
      h1 {
        font-size: 20px;
        color: #000;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 80px;
      .lever {
        width: 30%;
      }
      .quantity {
        width: 100%;
        text-align: center;
      }
      .number {
        width: 80%;
        margin-right: 1%;
      }
      input {
        // width: 10%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      margin-top: 10px;
      font-size: 1.275rem;
    }

    select,
      // input {
      //   width: 100%;
      //   padding: 8px;
      //   margin-bottom: 10px;
      //   border: 1px solid #ccc;
      //   border-radius: 4px;
      // }
  
      .form-group {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
}
.Button__capnhap {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  button {
    border: 1px solid rgb(125, 234, 125);
    background-color: rgb(120, 245, 120);
    height: 30px;
    width: 10%;
    border-radius: 10px;
    margin-top: 10px;
    color: #000;
  }
}
// .input__number {
//   width: 100%;
// }
.grid_input {
  display: flex;
  flex-direction: column;
}
.error__number {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}
