@use "@scss/mixin.scss" as m;

.candidate {
  &__container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  &__avatar-wrapper {
    max-width: 375px;
    padding: 16px;
    background-color: var(--secondary70);
    color: var(--text);
    border-radius: 10px;
    overflow: hidden;

    &-label {
      display: block;
      max-height: 311px;
      max-width: 311px;
    }

    &-input {
      display: none;
    }

    &-image {
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      aspect-ratio: 1;

      img {

        height: 100%;
        object-fit: cover;
      }

      div {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.45);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-base-info {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--text);
    }
  }

  &__information-wrapper {
    padding: 16px;
    background-color: var(--secondary70);
    flex-grow: 1;
    border-radius: 10px;

    & h1 {
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-size: 24px;
      font-weight: bold;
      color: var(--text);
    }

    & form {
      display: flex;
      gap: 1rem;
      color: var(--text);

      div {
        flex-grow: 1;
      }

      label {
        margin-bottom: 1rem;
        display: block;
        border-radius: 8px;
        font-weight: bolder;

        input {
          width: 100%;
          padding: 0 0.5rem;
          height: 40px;
          color: black;
          border: 1px solid var(--text30);
          border-radius: 8px;
          font-weight: 400;

          &:focus {
            outline: none;
          }
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
          width: 50%;
          height: 24px;
          display: inline-block;
          border-left: 1px solid var(--text70);
          cursor: pointer;
        }
      }
    }
  }
}

@include m.responsive-to(xl) {
  .candidate {
    &__container {
      height: auto;
      gap: 1rem;
    }

    &__information-wrapper {
      & form {
        flex-direction: column;
      }
    }
  }
}

@include m.responsive-to(md) {
  .candidate {
    &__container {
      flex-direction: column;
    }

    &__avatar-wrapper {
      max-width: 100%;
      overflow: visible;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}