.title__container {
    width: 100%;
    height: fit-content;
    border-bottom:1px solid black;
}
.defaultH1 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
    // text-transform: uppercase;
}