@use "@scss/mixin.scss" as m;
.exam {
  &__question {
    margin-bottom: 3rem;
    p {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
      box-sizing: border-box;
      text-align: left;
      overflow: hidden;
      word-wrap: break-word;
      margin-right: 1.5rem;
      color:var(--text);
    }
    &-image {
      margin:0 0 2rem 0 ;
      padding: 2rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25rem;
      background-color: var(--secondary70);
      img {
        height: 100%;
        border-radius: 0.5rem;
      }
    }
  }
  &__answer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &-content {
      gap: 0.5rem;
    }
    &-box {
      flex-grow: 1;
      padding: 1rem;
      border-radius: 0.5rem;
      width: 47.15%;
      box-sizing: border-box;
      text-align: left;
      overflow: hidden;
      word-wrap: break-word;
      hyphens: auto;
      display: flex;
      flex-direction: column;
      height: auto;
      border:3px solid transparent;
      cursor: pointer;
      background-color: var(--secondary70);
      color:var(--text);
      &.selected {
        background-color: var(--accent);
      }
    }
    &-box:hover {
      background: var(--accent);
    }
    &-option {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid black;
      border-radius: 50%;
      font-size: 1rem;
      font-weight: bold;
      box-sizing: border-box;
      margin-bottom: 0.5rem;
    }
    &-text {
      font-size: 1rem;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      img {
        border-radius: 0.5rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@include m.responsive-to(xl){

}

@include m.responsive-to(lg){

}

@include m.responsive-to(sm){

}